@media screen and (max-width: 1370px) {

  .contact {
    padding: 8em;
  }

}

@media screen and (max-width: 1070px) {

  .contact {
    padding: 3em;
  }

}

@media screen and (max-width: 815px) {

    .contact {
        padding: 1em;
    }
}
