@media screen and (max-width: 1370px) {

    .works {
        padding: 8em;
    }

}

@media screen and (max-width: 1070px) {

    .works {
        padding: 3em;
    }

}

@media screen and (max-width: 815px) {

    .works {
        padding: 2em;
    }

}