@media screen and (max-width: 815px) {

    .header--left .nav {
        margin-top: .5em;
    }

    .header--left .nav__item {
        padding: 0;
    }

    .header--left .nav__item--bordered {
        border: none;
    }

}
