.adminPanel {
  position: absolute;
  top: 1em;
  right: 1em;

  vertical-align: middle;
}

.adminPanel__link {
  padding: 0 .5em;

  color: $lightGrey;
}

.adminPanel__link--big {
  font-weight: 700;
  font-size: 1.2em;
}