/**---------------------
    COLORS
----------------------**/
$transitionDuration: .3s;


/**---------------------
    COLORS
----------------------**/
$red: #da3433;
$black: #000;
$gold: #8A6B00;
$greyBlack: #464d4b;
$lightGrey: #a5a5a5;
$green: #1abc9c;

/**---------------------
    FONTS
----------------------**/
$defaultFontSize: 16px;
$fontStack: 16px/1.5 'Open Sans', sans-serif;